body{
    background-color: #191414;
    font-family: 'Nunito', sans-serif;
    overflow: hidden;

}

::selection {
    background: #19141486; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: #19141486; /* Gecko Browsers */
  }

  #infoPane{
      position: absolute;
      height:65vh;
      width:30vw;
      background-color: #1DB954;
      z-index: 9;
      right:0;
      margin-top:20vh;
      display: none;
  }
  #info_header{
      position: absolute;
      height:20vh;
      width:30vw;
      background-color: aliceblue;
      background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  #info_title{
    position: absolute;
    margin-top:25vh;
    text-align: right;
    width:25vw;
  }
  #info_genre{
    position: absolute;
    margin-top:35vh;
    text-align: right;
    width:25vw;
  }
	
#mynetwork{
	width:110vw;
    height:110vh;
    position: absolute;
    top:-5vw;
    left:-5vw;
}

#previewPlayer{
    z-index: 10;
    position: absolute;
    bottom: 3vh;
    height:10vh;
    width:100vw;
    color:#1DB954;
    font-weight: lighter;
    background-color: #19141486;
    align-content: center;
    /* opacity: 0.7; */
    
}
#preview_artist{
    font-weight: lighter;
    display: inline;
    padding-left: 7vh;
    cursor: pointer;
}
#preview_song{
    font-weight: lighter;
    display: inline;
    padding-left: 2vh;
    cursor: pointer;
}

#previewInfo{
    bottom: 10vh;
    left:7vw;
    position: absolute;
}

#playControl{
display: inline;
/* margin-bottom:-2vh; */

height:6vh;
width:6vh;
/* padding-top:5vh; */

border: 2px solid #1DB954;
background-color: #191414;
border-radius: 100px;
cursor: pointer;
margin:auto;


}
#playControl:focus{
    outline: none;
}
#playSymbol{
    color:#1DB954;

    vertical-align: middle;
    font-size: 4.3vh;
    cursor: pointer;
    bottom: 1.4vh;
    position: absolute;
    display: inline;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#waveform{
  width:100vw;
  overflow: hidden;
}

input:focus {outline: none; }
canvas:focus {outline: none; }
cavnas{outline: none;}

#search{
	z-index: 100;
	width:40vw;
	/* height:70vh; */
	position: absolute;
	/* margin-left:30vw; */
	/* top:15vh; */
	/* background:#191414; */
	border:none;
	font-family: 'Nunito', sans-serif;


}
#searchBar{
	/* margin:auto; */
	width:50vw;
	/* margin-left:5vw; */
	top:5vh;
	left:5vh;
	position: absolute;
	height:5vh;
	border: none;
	font-family: 'Nunito', sans-serif;
	font-size: 15pt;
	padding-left:2vw;
	vertical-align: bottom;
	background-color: #2C3134;
	border-bottom: 2px solid #1DB954;
	color:white;

}

#search_random{
  position: absolute;
  left:52vw;
  top:2.4vh;
  user-select: none;
  cursor: pointer;
  font-size: 20pt;
}

#searchResults{
	margin-top: 12vh;
	margin-left:5vh;

}
.searchResult{
color:white;
/* border:1px solid white; */
background-color: #191414;
cursor: pointer;
left:5vh;
width: 50vw;


}
.searchResult:hover{
	background-color: #1DB954;
}
.result_artist{
	font-size:15pt;
	display: inline;
	font-weight: lighter;
}
.result_genre{
	/* margin-left:100; */
	/* position: absolute; */
	/* right:0; */
	text-align: right;
	vertical-align: middle;
	font-size:9pt;	
	display: inline;
	padding-left: 2vw;
	/* padding-top: 5vh; */
	/* width:100%; */
	
}